# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.iso
*.hdd

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb


build/

meta/toolchain/local
meta/toolchain/tarballs
meta/toolchain/build

